@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
body hr {
  border-top: 3px solid #D97F2D;
  margin: 30px auto;
  max-width: 800px;
}

.cabecera {
  background-color: #f0d5bc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.cabecera .carousel-item {
  height: 400px;
  background-color: #f0d5bc;
  color: #000;
  text-align: center;
}
.cabecera .carousel-item img {
  max-width: 100%;
  max-height: 100%;
}
.cabecera .carousel-indicators li {
  border-radius: 50%;
  border: none;
  width: 10px;
  height: 10px;
  margin: 0 10px;
  background-color: #ccc;
  transition: background-color 0.3s ease-in-out;
}
.cabecera .carousel-indicators li.active {
  background-color: #ccc;
}
.cabecera .carousel-control-prev,
.cabecera .carousel-control-next {
  width: 50px;
  height: 50px;
  font-size: 2rem;
  color: #333;
  text-shadow: none;
  background-color: rgba(226, 12, 12, 0.5);
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.cabecera .carousel-control-prev:hover,
.cabecera .carousel-control-next:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #fff;
}
.cabecera .carousel-control-prev:hover .fa-chevron-left,
.cabecera .carousel-control-prev:hover .fa-chevron-right,
.cabecera .carousel-control-next:hover .fa-chevron-left,
.cabecera .carousel-control-next:hover .fa-chevron-right {
  animation: bounce 0.5s ease;
}
.cabecera .carousel-control-prev {
  left: 20px;
}
.cabecera .carousel-control-next {
  right: 20px;
}
@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.cabecera .contenedorElemNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.cabecera .contenedorElemNav .contenedorLogo img {
  max-height: 60px;
}
.cabecera .contenedorElemNav .contenedorLogo img .contenerdorElemHeader {
  text-align: center;
  padding: 20px 0;
}
.cabecera .contenedorElemNav .contenedorLogo img .contenerdorElemHeader .tituloHeader {
  font-size: 36px;
  margin-bottom: 10px;
}
.cabecera .contenedorElemNav .contenedorLogo img .contenerdorElemHeader .imagenHeader {
  text-align: center;
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}
.cabecera .contenedorElemNav .navegacion {
  background-color: #D97F2D;
  margin-top: 1rem;
  border-radius: 10px;
}
.cabecera .contenedorElemNav .navegacion .nav-item + .cabecera .contenedorElemNav .navegacion .nav-item {
  margin-left: 1rem;
}
.cabecera .contenedorElemNav .navegacion .nav-item .nav-link {
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
}
.cabecera .contenedorElemNav .navegacion .nav-item .nav-link:hover {
  color: #fff;
  background-color: #D97F2D;
  transition: #D97F2D 0.3s ease-in-out;
}
.cabecera .contenedorElemNav .navegacion .nav-item .nav-link.active {
  color: #D97F2D;
}
.cabecera .contenedorElemNav .navegacion .navbar-toggler {
  border-color: #D97F2D;
}
.cabecera .contenedorElemNav .navegacion .navbar-toggler:hover {
  background-color: #D97F2D;
  border-color: #D97F2D;
}
.cabecera .contenedorElemNav .navegacion .navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 75, 43, 0.5);
}
.cabecera .welcome__quote {
  font-style: italic;
  font-size: 18px;
  margin-top: 20px;
}
.cabecera .welcome__quote .welcome__name {
  display: block;
  margin-top: 10px;
  font-style: normal;
  font-weight: bold;
}

.blureado {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0;
  max-width: 800px;
  margin: 30px auto;
  text-align: justify;
  font-size: 20px;
}

main {
  max-width: 800px;
  text-align: center;
  margin: auto;
  margin-bottom: 5%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
main h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #333;
}
main .location {
  margin-bottom: 50px;
  border-bottom: 1px solid #000;
  padding-bottom: 30px;
}
main .location h2 {
  font-size: 1.8rem;
  color: #000;
  margin-bottom: 10px;
}
main .location p {
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 5px;
}
main .location {
  transition: transform 0.2s ease-in-out;
}
main .location:hover {
  transform: scale(1.15);
}
main .logo {
  transition: opacity 0.3s ease-in-out;
}
main .logo:hover {
  opacity: 0.8;
}
main .container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
main .container .title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 50px;
}
main .container .history {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}
main .container .history .column {
  flex-basis: 45%;
  margin-bottom: 50px;
}
main .titulo {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}
main .aplicar {
  display: flex;
  justify-content: center;
}
main .aplicar .apicar_initContainer {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}
main .aplicar .apicar_initContainer .apli__content {
  text-align: center;
  margin-bottom: 30px;
}
main .aplicar .apicar_initContainer .apli__formField {
  margin-bottom: 20px;
}
main .aplicar .apicar_initContainer .apli__formField label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
main .aplicar .apicar_initContainer .apli__formField select,
main .aplicar .apicar_initContainer .apli__formField input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
main .aplicar .apicar_initContainer .apli__formField input:focus,
main .aplicar .apicar_initContainer .apli__formField select:focus {
  outline: none;
  border-color: #D97F2D;
}
main .aplicar .apicar_initContainer .apli__formField input[type=submit] {
  background-color: #D97F2D;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
main .aplicar .apli_successContainer {
  display: none;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 50%;
}
main .aplicar .apli_successContainer .apli_titulo {
  margin-bottom: 30px;
  font-size: 24px;
}
main .aplicar .apli_successContainer .apli__contenido {
  margin-bottom: 30px;
}

.seccionMenu {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.seccionMenu h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.seccionMenu .listaMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.seccionMenu .listaMenu li {
  margin: 20px;
}
.seccionMenu .listaMenu li .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 300px;
}
.seccionMenu .listaMenu li .menu img {
  width: 200px;
  height: 200px;
}
.seccionMenu .listaMenu li .menu h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.seccionMenu .listaMenu li .menu .precio {
  font-weight: bold;
  font-size: 1.2rem;
  color: #000;
  margin-top: 0.5rem;
}

.seccionCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.seccionCards .card {
  width: 200px;
  height: 250px;
  margin: 20px;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}
.seccionCards .card:hover {
  transform: translateY(-10px);
}
.seccionCards .card:hover img {
  transform: scale(2.2);
}
.seccionCards .card:hover h3 {
  transform: translateY(0);
}
.seccionCards .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.seccionCards .card h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  margin: 0;
  background-color: #D97F2D;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.seccionVideo {
  margin-top: 50px;
  text-align: center;
  background-color: #2d2d2d;
  color: #fff;
  padding: 2rem;
}

.seccionVideo h2 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.seccionVideo video {
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
}

.piePagina {
  background-color: #f0d5bc;
  padding: 10px;
  text-align: center;
}
.piePagina .fixedInsta,
.piePagina .fixedFace,
.piePagina .fixedTwit {
  font-size: 24px;
  margin: 10px;
}
.piePagina .fixedInsta .fa-brands,
.piePagina .fixedFace .fa-brands,
.piePagina .fixedTwit .fa-brands {
  color: #000;
}
.piePagina .fixedInsta .fa-instagram:hover,
.piePagina .fixedFace .fa-instagram:hover,
.piePagina .fixedTwit .fa-instagram:hover {
  color: #E1306C;
}
.piePagina .fixedInsta .fa-facebook:hover,
.piePagina .fixedFace .fa-facebook:hover,
.piePagina .fixedTwit .fa-facebook:hover {
  color: #4267B2;
}
.piePagina .fixedInsta .fa-twitter:hover,
.piePagina .fixedFace .fa-twitter:hover,
.piePagina .fixedTwit .fa-twitter:hover {
  color: #1DA1F2;
}

@media screen and (max-width: 767px) {
  /* Estilos para pantallas pequeñas */
  .contenedorElemNav {
    text-align: center;
  }
  .navegacion {
    margin-top: 30px;
  }
  .tituloHeader {
    font-size: 30px;
  }
  .welcome__quote {
    font-size: 18px;
  }
  .seccionVideo h2 {
    font-size: 2rem;
  }
  .seccionVideo video {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* Estilos para pantallas medianas */
  .tituloHeader {
    font-size: 30px;
  }
  .welcome__quote {
    font-size: 24px;
  }
  .seccionCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    width: 30%;
  }
}
@media screen and (min-width: 1185px) {
  /* Estilos para pantallas grandes */
  .tituloHeader {
    font-size: 50px;
  }
  .welcome__quote {
    font-size: 32px;
  }
  .seccionCards {
    display: flex;
    justify-content: space-between;
  }
  .card {
    width: 22%;
  }
}

/*# sourceMappingURL=estilos.css.map */
