$fontfamily: Arial, Helvetica, sans-serif;
$primary-color: #D97F2D;
$secondary-color: #f0d5bc;
$tertiary-color: #333;
$gray-color: #ccc;
$white-color: #fff;
$black-color: #000;
$color-opaco: rgba(88, 31, 31, 0.5);

$menu-item-height: 300px;
$menu-item-width: 200px;
$menu-item-margin: 20px;